$blue: #3891f5;

$body-color: #414141;

$font-family: rubik,system-ui, -apple-system, "Segoe-UI", roboto, "HelveticaNeue", "Noto Sans", "Liberation Sans", arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Segoe UI Symbol", "Noto Color Emoji";

$headings-font-Weight: 700;